/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset and Variables  ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Rouge+Script|Varela+Round');

$tablet-breakpoint: 740px;
$desktop-breakpoint: 1200px;
$bigger-desktop-breakpoint: 1440px;


@mixin tablet{
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop{
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}

@mixin bigger-desktop{
	@media only screen and (min-width: $bigger-desktop-breakpoint){
		@content;
	}
}

@keyframes ani-fadein {
	0% {
		opacity: 0;
		transform: translateY(10px)
	}
	100% {
		opacity: 1;
	}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #b1dad5;
	font-family: sans-serif;
	transition: .2s;
}




/* 2. Content ================================= */

.content{
	margin: 20px;

	@include tablet{
		display: flex;
	}
}

h1 a{
	background: url(../img/logo.png) no-repeat;
	background-size: cover;
	text-indent: -9999px;
	float: left;
	overflow: hidden;
	width: 150px;
	height: 150px;
	left: 50%;
	margin-left: -75px; 
	margin-bottom: 20px;
	position: relative;

	// @include desktop{
	// 	width: 300px;
	// 	height: 300px;
	// 	margin-left: -150px;
	// }
}


.message-inputs{
	@include desktop{
		position: fixed;
		top: 3em; 
		width: 20%;
	}
}

input[name="username"],
textarea,
select {
	transition: all 0.30s ease-in-out;
	outline: none;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;

	&:focus{
		box-shadow: 0 0 10px #4F958E;
		padding: 3%;
		border: 1px solid #4F958E;
	}
}

.letters{
	padding-top: 30px;

	@include tablet{
		width: 100%;
		margin-left: 30px;
	}
	@include desktop{
		// justify-content: flex-start;
		column-count: 2;
		width: 75%;
		margin-left: auto;
	}

	@include bigger-desktop{
		// justify-content: flex-start;
		column-count: 3;
	}
}

.letters li{

	font-size: 1.25em;
	background: #DDF1EF;
	display: inline-block;
	margin: 10px 0px;
	padding: 20px;
	font-family: "Varela Round";
	position: relative;
	line-height: 1.2em;
	width: 100%;
	vertical-align: top;
	border: 2px solid black;
	animation: ani-fadein .5s;
	
	&.work{
		background: #c8ebdb;
	}

	&.school{
		background: #a2d4ff;	
	}

	&.love{
		background: #eaadc1;
	}

	&.family{
		background: #ffd589;
	}

	&.misc{
		background: #f1d8f1
	}



	@include desktop{
		max-width: 768px;
		column-gap: 1.5em;
		font-size: 1.25em;
		break-inside: avoid;
		page-break-inside: avoid;
		min-height: 400px;

		&:first-of-type{
			margin-top: 10px;
		}
	}

	p{
		@include desktop{
			width: 70%;
		}
	}
}


// .letterDiv{
// 	font-size: 1.25em;
// 	background: #ddd;
// 	// display: inline-block;
// 	margin: 10px 0px;
// 	padding: 20px;
// 	font-family: "Varela Round";
// 	position: relative;
// 	line-height: 1.2em;
// 	width: 500px;
	
// 	@include tablet{
// 		width: 100%;
// 		height: 100%;
// 		vertical-align: bottom;
// 		overflow: auto;
// 	}
// }

.instructions{
	clear: both;
}

.label-cluster{
	display: flex;
	margin: 20px 0px;
	flex-wrap: wrap;

}

.label {
	font-family: "helvetica";
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid black;
	text-align: center;
	padding: 10px 20px;
	cursor: pointer;
	align-self: flex-end;
	transition: .5s;
	


	@include desktop{
		width: fit-content;
		padding: 5px;
		font-size: 12px;
	}

	&.side{
		margin: 5px;

		@include desktop{
			position: relative;
			width: 45%; 
			padding: 10px 20px;
			font-size: 16px;
		}
	}

	&.all{
		background: #4F958E;
	}

	&.work{
		background: #72cca1;
	}

	&.school{
		background: #53b0ff;	
	}

	&.love{
		background: palevioletred;
	}

	&.family{
		background: #ffa400;
	}

	&.misc{
		background: plum;
	}

	&.refresh{
		background: #dcf1ef;

		@include desktop{
			position: relative;
			width: 93%;
		}
	}
	&.send{
		background: #dcf1ef;
		margin: 0px;

		@include desktop{
			position: relative;
			width: 100%;
		}
	}

	&:hover{
		box-shadow: inset 3px 3px 0px 0px rgba(0,0,0,0.75), inset -3px -3px 0px 0px rgba(0,0,0,0.75);	
	}
}




.salutations{
	font-family: 'Rouge Script', cursive;
	text-align: right;
	font-size: 1.5em;
	margin-top: 50px;
	padding-bottom: 50px;
	bottom: 0px;
	margin-bottom: auto;
}

.reaction{
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	
	@include desktop{
		display: inline-block;
		margin: 15px 25px;
		cursor: pointer;
		width: 100%;
		bottom: 0;
		position: absolute;
		right:  0;
		top:  0;
		width: 60px;
		border-left: 1px solid black;
		padding: 0px 10px;
	}
}

.reaction-btns{
	margin-left: auto;
	cursor: pointer;

	@include tablet{
		display: inline;
		bottom: 0;
	}

	@include desktop{
		position: absolute;
		width: 50px;
	}
}

.reaction-button{

	&:active{
		transform: translateY(-4px);
	}
}

