/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset and Variables  ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Rouge+Script|Varela+Round');

$tablet-breakpoint: 640px;
$desktop-breakpoint: 960px;


@mixin tablet{
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop{
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: sans-serif;
	transition: .2s;
	
}




/* 2. Content ================================= */

.content{
	margin: 20px;
	@include desktop{
		display: flex;
	}
}
	
h1{
	font-size: 3em;
}

.message-inputs{
	@include desktop{
		position: fixed;
		top: 3em; 
	}
}

.letters{
	@include tablet{
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;
		// float: left;
		column-count: 2;
		margin-left: 30px;
	}
	@include desktop{
		// justify-content: flex-start;
		column-count: 3;
		width: 80%;
		margin-left: auto;
	}
}

.letters li{

	font-size: 1.25em;
	background: #ddd;
	display: inline-block;
	margin: 10px 0px;
	padding: 20px;
	font-family: "Varela Round";
	position: relative;
	line-height: 1.2em;
	width: 100%;
	vertical-align: top;

	@include tablet{
		// margin: 1%;
		// flex-direction: column;
		// width: 48%;
		// max-height: 10000px;
		// float: left;
		max-width: 768px;
		column-gap: 1.5em;
		font-size: 1.25em;
		background: #ddd;
		// display: inline-block;
		margin: 10px 0px;
		padding: 20px;
		font-family: "Varela Round";
		position: relative;
		line-height: 1.2em;
		// @include tablet{
		// 	width: 100%;
			// height: 100%;
		break-inside: avoid;
		page-break-inside: avoid;
		// 	vertical-align: bottom;
		// }

		&:first-of-type{
			margin-top: 10px;
		}
	}
	// @include desktop{
	// 	// width: 31%;
	// }
}

// .letterDiv{
	// font-size: 1.25em;
	// background: #ddd;
	// display: inline-block;
	// margin: 10px 0px;
	// padding: 20px;
	// font-family: "Varela Round";
	// position: relative;
	// line-height: 1.2em;
	// width: 500px;
	
	// @include tablet{
	// 	width: 100%;
	// 	height: 100%;
	// 	vertical-align: bottom;
		// overflow: auto;
// 	}
// }

.label-cluster{
	display: flex;
	margin: 20px 0px;
	flex-wrap: wrap;
	width: 150px;
}

.label {
	font-family: "helvetica";
	font-size: 10px;
	text-transform: uppercase;
	border: 1px solid black;
	display: inline-block;
	margin: 10px;
	width: fit-content; 
	padding: 5px;
	position: absolute;
	cursor: pointer;

	// @include tablet{
		bottom: 0;
		right: 0;
	// }

	&.side{
		position: relative;
		margin: 2px;
	}

	&.all{
		background: #48d1cc;
	}

	&.work{
		background: greenyellow;
	}

	&.school{
		background: #a2d4ff;	
	}

	&.love{
		background: palevioletred;
	}

	&.family{
		background: orange;
	}

	&.misc{
		background: plum;
	}
}

.salutations{
	font-family: 'Rouge Script', cursive;
	text-align: right;
	font-size: 1.5em;
	margin-top: 50px;
	padding-bottom: 50px;
}

.reaction{
	bottom: 0;
	left: 0;
	display: inline-block;
	position: absolute;
	margin: 10px;
	cursor: pointer;
}