/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

@mixin divStyling{
	padding: 5px;
	width: fit-content; 
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	
}




/* 2. Content ================================= */

.content {
	position: relative;
	font-family: sans-serif;
	width: 90%;
	max-width: 500px;
	margin: 140px auto;
	padding: 30px 20px 30px 30px;
	
	h1{
		font-size: 3em;
	}
}

.letterDiv{
	@include divStyling;
	font-size: 3em;
	background: #ddd;
	display: inline-block;
	margin: 0 auto;
	padding: 20px;
}

.label{
	@include divStyling;
	font-family: "helvetica";
	font-size: 10px;
	text-transform: uppercase;
	border: 1px solid black;
	display: block;
	margin-top: 15px;

	&.work{
		background: greenyellow;
	}

	&.school{
		background: #a2d4ff;	
	}

	&.love{
		background: palevioletred;
	}

	&.family{
		background: orange;
	}

}