/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset and Variables  ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Rouge+Script|Varela+Round');

$tablet-breakpoint: 640px;
$desktop-breakpoint: 900px;
$bigger-desktop-breakpoint: 1200px;


@mixin tablet{
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop{
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}

@mixin bigger-desktop{
	@media only screen and (min-width: $bigger-desktop-breakpoint){
		@content;
	}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: teal;
	font-family: sans-serif;
	transition: .2s;
	
}




/* 2. Content ================================= */

.content{
	margin: 20px;

	@include tablet{
		display: flex;
	}
}
	
h1{
	font-size: 3em;
}

.message-inputs{
	@include desktop{
		position: fixed;
		top: 3em; 
		width: 20%;
	}
}

.letters{
	@include tablet{
		width: 100%;
		margin-left: 30px;
	}
	@include desktop{
		// justify-content: flex-start;
		column-count: 2;
		width: 75%;
		margin-left: auto;
	}

	@include bigger-desktop{
		// justify-content: flex-start;
		column-count: 3;
		width: 85%;
		margin-left: auto;
	}
}

.letters li{

	font-size: 1.25em;
	background: rgb(181, 233, 230);
	display: inline-block;
	margin: 10px 0px;
	padding: 20px;
	font-family: "Varela Round";
	position: relative;
	line-height: 1.2em;
	width: 100%;
	vertical-align: top;


	@include desktop{
		max-width: 768px;
		column-gap: 1.5em;
		font-size: 1.25em;
		break-inside: avoid;
		page-break-inside: avoid;
		min-height: 400px;

		&:first-of-type{
			margin-top: 10px;
		}
	}

	p{
		@include desktop{
			width: 70%;
		}
	}
}

.letterDiv{
	font-size: 1.25em;
	background: #ddd;
	// display: inline-block;
	margin: 10px 0px;
	padding: 20px;
	font-family: "Varela Round";
	position: relative;
	line-height: 1.2em;
	width: 500px;
	
	@include tablet{
		width: 100%;
		height: 100%;
		vertical-align: bottom;
		overflow: auto;
	}
}

.label-cluster{
	display: flex;
	margin: 20px 0px;
	flex-wrap: wrap;
	width: 150px;
}

.label {
	font-family: "helvetica";
	font-size: 20px;
	text-transform: uppercase;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	display: inline;
	cursor: pointer;

	@include tablet{
		align-self: flex-end;
	}

	@include desktop{
		font-size: 16px;
	}

	&.side{
		margin: 5px;

		@include desktop{
			position: relative;
			width: 100%; 
		}
	}

	&.all{
		background: #48d1cc;
	}

	&.work{
		background: greenyellow;
	}

	&.school{
		background: #a2d4ff;	
	}

	&.love{
		background: palevioletred;
	}

	&.family{
		background: orange;
	}

	&.misc{
		background: plum;
	}

	&.replies{
		position: relative;
	}
}

.refresh{
	display: inline-block;
	border: 3px solid black;
	padding: 10px 10px;
	background: seagreen;
	margin-bottom: 30px;
	cursor: pointer;
	text-transform: uppercase;
}

.salutations{
	font-family: 'Rouge Script', cursive;
	text-align: right;
	font-size: 1.5em;
	margin-top: 50px;
	padding-bottom: 50px;
	bottom: 0px;
	margin-bottom: auto;
}

.reaction{

	display: flex;
	justify-content: space-between;
	
	@include desktop{
		display: inline-block;
		margin: 40px;
		cursor: pointer;
		width: 100%;
		bottom: 0;
		position: absolute;
		right:  0;
		top:  0;
		width: 60px;
		border-left: 1px solid black;
		padding: 0px 10px;
	}
}

	.reactionBtn{
		margin-left: auto;

		@include tablet{
			display: inline;
			bottom: 0;
		}

		@include desktop{
			position: absolute;
		}
}
